:local {

  .container {
    position: relative;
    overflow: auto;
    height: 100%;
  }

  .wrapper-wrapper {
    height: 29px;
    overflow: hidden;
  }

  .wrapper {
    overflow-x: auto;
    margin-left: 300px;
  }

  .row {
    display: inline-flex;
  }

  .row.stripe-row {
    background-color: lightgreen;

    .fixed-column-container {
      background-color: lightgreen;
    }
  }

  .header-row {
    border-bottom: 1px solid grey;

    .fixed-column-container {
      border-bottom: 1px solid grey;
    }
  }

  .cell, .header-cell {
    flex: 1 1 auto;
    min-width: 50px;
    // border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }

  .cell:last-child, .header-cell:last-child {
    border-right: none;
  }

  .fixed-column-container {
    position: absolute;
    transform: translateX(-100%);
    display: flex;
    // border-bottom: 1px solid grey;
    border-right: 1px solid grey;
  }

  .header-cell {
    background-color: lightgrey;
  }

  .section-header {
    height: 33px;
    background: lightgrey;
  }

  .section-header-fixed {
    position: absolute;
    left: 0;
    top: auto;
    width: 100%;
    background: lightgrey;
    height: 33px;
    padding: .5rem 1rem .5rem 1rem;
    word-wrap: normal;
    white-space: nowrap;
  }

  .container-size-1 {
    .cell, .header-cell {
      height: 29px;
    }
  }

  .container-size-2 {
    .cell, .header-cell {
      height: 48px;
    }
  }

  .container-size-3 {
    .cell, .header-cell {
      height: 67px;
    }
  }

  .container-size-4 {
    .cell, .header-cell {
      height: 83px;
    }
  }

  .custom-cell {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: normal;
    word-wrap: normal;
    padding: 5px;
  }
}