:local {

  .container {
    position: relative;
    overflow: auto;
    height: 100%;
  }

  .wrapper-wrapper {
    height: 29px;
    overflow: hidden;
  }

  .wrapper {
    overflow-x: auto;
    margin-left: 300px;
    background-color: grey;
  }

  .row {
    display: inline-flex;
    z-index: 500;
    background-color: white;
    min-width: 100%;
  }

  .row.stripe-row {
    background-color: #f4f4f4;

    .fixed-column-container {
      background: #f4f4f4;
    }
  }

  .header-row {
    border-bottom: 1px solid grey;

    .fixed-column-container {
      border-bottom: 1px solid grey;
    }
  }

  .buffer-cell, .buffer-header-cell {
    min-width: 150px;
    max-width: 100%;
    flex: 1 1 auto;
  }

  .buffer-header-cell {
    background-color: lightgrey;
  }

  .cell, .header-cell {
    flex: 0 1 auto;
    min-width: 50px;
    border-right: 1px solid #c8cacb;
  }

  // .row > .cell:nth-child(2), .row > .header-cell:nth-child(2) {
  //   border-left: 2px solid rgb(155, 159, 161);
  // }

  .cell.selectable:hover {
    background: #ebf6fd;
  }

  .cell.disabled {
    background: repeating-linear-gradient(-45deg, #dedfe0, #dedfe0 3px, transparent 0, transparent 6px)
  }

  .fixed-column-container {
    position: absolute;
    transform: translate3d(-100%, 0, -1px);
    display: flex;
    border-right: 2px solid rgb(155, 159, 161);
    z-index: 1000;

    // .drag-header {
    //   z-index: 1001;
    // }
  }

  .header-cell {
    background-color: lightgrey;
    position: relative;
  }

  .drag-header {
    height: 100%;
    position: absolute;
    width: 5px;
    right: 0;
    top:0;
    background-color: grey;
    cursor: col-resize;
    // z-index: 500;

    // .inner-drag {
    //   display: none;
    //   position: absolute;
    //   height: 1000px;
    //   width: 100%;
    //   z-index: 10000;
    // }

    &.react-draggable-dragging {
      background-color: darkslategrey;
      z-index: 10000;

      // .inner-drag {
      //   display: block;
      //   position: fixed;
      //   background-color: darkslategray;
      //   z-index: 99999;
      // }
    }
  }

  .section-header {
    height: 33px;
    background: lightgrey;
  }

  .section-header-fixed {
    position: absolute;
    left: 0;
    top: auto;
    width: 100%;
    background: lightgrey;
    height: 33px;
    padding: .5rem 1rem .5rem 1rem;
    word-wrap: normal;
    white-space: nowrap;
  }

  .container-size-1 {
    .cell, .header-cell {
      height: 29px;
    }
  }

  .container-size-2 {
    .cell, .header-cell {
      height: 48px;
    }
  }

  .container-size-3 {
    .cell, .header-cell {
      height: 67px;
    }
  }

  .container-size-4 {
    .cell, .header-cell {
      height: 83px;
    }
  }

  .custom-cell {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: normal;
    word-wrap: normal;
    padding: 5px;
  }
}