@import "~terra-breakpoints/lib/media-queries";

:local {
  .container {
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .content {
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .panel {
    background-color: var(--terra-application-layout-menu-panel-panel-background-color, #fff);
    display: none;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 5000;
  }

  .panel-is-open > .panel {
    display: block;
    left: 0;
    top: 0;
    width: var(--terra-application-layout-menu-panel-panel-width-default, calc(100% - 3.571rem));

    @include terra-mq-medium-up {
      box-shadow: 0.07143rem 0 0.3571rem var(--terra-application-layout-menu-panel-panel-shadow-color, #1c1f21);
      width: var(--terra-application-layout-menu-panel-panel-width-medium, 22.857rem);
    } 

    @include terra-mq-large-up {
      border-right: 0.07143rem solid var(--terra-application-layout-menu-panel-panel-border-color, #d3d4d5);
      box-shadow: none;
      transition: none;
      width: calc(0.07143rem + #{var(--terra-application-layout-menu-panel-panel-width-large, 18.571rem)});
    } 
  }

  .panel-is-open > .content {
    @include terra-mq-large-up {
      width: calc(100% - #{var(--terra-application-layout-menu-panel-panel-width-large, 18.571rem)} - 0.07143rem);
    } 
  }

  .panel[aria-hidden='true'] {
    visibility: hidden;
  }
}
