:local {
  .application-layout {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .content,
  .menu-panel {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    transition: none;
  }

  .content {
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .menu-panel {
    background-color: var(--layout-slide-panel-background-color, #fff);
    position: absolute;
    transform: translate3d(-100%, 0, 0);
    width: var(--layout-slide-panel-phone-panel-width, calc(100% - 3.571rem));
    z-index: 5000;
  }

  .menu-panel[aria-hidden='true'] {
    visibility: hidden;
  }

  .menu-is-open > .menu-panel {
    box-shadow: 0.07143rem 0 0.3571rem var(--layout-slide-panel-panel-shadow-color, #1c1f21);

    // Move the slider back to its origin when its on-screen.
    transform: translate3d(0, 0, 0);
  }
}
